<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medicalreminder"
    android:networkSecurityConfig="@xml/network_security_config">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalReminder"
        tools:replace="android:allowBackup">
        <service
            android:name=".services.service.Take"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".refillreminder.RfillDialogActivity"
            android:exported="false"
            android:theme="@style/TransparentCompat" />

        <service
            android:name=".services.service.Reply"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.service.MyNotification"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".services.boardcast.MyReceiver"
            android:enabled="true"
            android:exported="true" />


        <activity
            android:name=".seconduser.view.SecondUserActivity"
            android:exported="false" />
        <activity
            android:name=".invitation.view.InvitationActivity"
            android:exported="false"
            android:theme="@style/TransparentCompat" />
        <activity android:name=".authentication.login.view.LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".dialogmed.DialogActivity"
            android:theme="@style/TransparentCompat" />
        <activity android:name=".authentication.register.view.RegisterActivity" />
        <activity android:name=".displaymedication.view.DisplayDrugDetails" />
        <activity android:name=".eidtmedication.view.EditDrug" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>